* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
:root {
  --ref-size: 2.6rem;
}

/* UTILS */
.d-block-large {
  display: none;
}
.d-none-large {
  display: block;
}
.d-inline-large {
  display: none;
}
.ref {
  opacity: 0.6;
}
.ref:hover {
  opacity: 1;
}
.navbar-refs .ref:hover {
  border-left: green 2px solid;
  padding: 0.5rem;
}

.small-ref-text {
  font-size: calc(var(--ref-size) / 1.5);
}
.main-section {
  display: flex;
}
.badge {
  padding: 10px;
  border-radius: 50%;
}
.fa-user {
  font-size: var(--ref-size);
  color: black;
}

.bg-white {
  background-color: white;
}

.green-underline {
  text-decoration: underline green 2px solid;
  text-underline-offset: 10px;
}

.green-underline-left {
  border-left: green 2px solid;
  padding: 0.5rem;
}

.hide {
  display: none;
}
/* COLS */
.small-col {
  background-color: black;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: calc(100vh - 100px);
  position: sticky;
  top: 0;
}
/* NAVBAR */
.small-col hr {
  opacity: 0.6;
}
.upper-navbar {
  padding: 10px 0;
}
.upper-navbar > * {
  padding: 5px 12px;
}
.upper-navbar > :first-child {
  padding: 10px 10px 20px;
}
.lower-navbar > * {
  padding: 12px;
}
.upper-navbar .logo-large {
  width: 150px;
  margin: 0 15px;
}
.upper-navbar .logo-small {
  width: 100%;
}
.upper-navbar .playlist-ref {
  margin: 0 10px;
}

.navbar-refs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navbar-refs .ref {
  margin: 0 auto;
  font-size: var(--ref-size);
}
.lower-navbar .user {
  margin: 0 auto;
}
.playlist-ref > * {
  margin: 13px 0;
}
.playlist-ref-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  min-height: 100px;
  max-height: 250px;
  overflow-y: scroll;
}
.playlist-ref-list li {
  list-style-type: none;
  font-size: calc(var(--ref-size) / 1.8);
}
.add-playlist {
  font-size: calc(var(--ref-size) / 1.4);
}
.add-playlist a {
  background-color: white;
  padding: 3px 10px;
  color: black;
  font-weight: bold;
  font-size: var(--ref-size);
}

.playlist-ref > h3 {
  font-weight: 600;
}
/* BIG COL */
.big-col {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
/* TOP ROW */
.top-row {
  background-color: #0c0f14;
  height: 120px;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
}
.top-row > .badge {
  padding: 15px 40px;
  color: white;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  right: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  border: currentColor 1px solid;
}
.top-row > .badge:hover {
  font-size: 1.2rem;
}

/* MAIN ROW */
.main-row {
  background-color: #141922;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.main-page-refs {
  width: 100%;
  min-height: 60px;
  max-height: 120px;
  display: flex;
  font-size: 0.7rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 100px;
  background-color: #141922;
  z-index: 1;
}
.main-page-refs > .ref {
  padding: 15px;
}

.main-page-refs > .ref:hover {
  text-decoration: underline green 2px solid;
  text-underline-offset: 10px;
}

.wrapper-main-section {
  padding-bottom: 100px;
}

.main-row-section {
  padding: 10px 5px 50px 10px;
}

.card-list {
  margin: 15px 0;
  display: flex;
  gap: 15px;
  text-align: center;
  flex-wrap: wrap;
}
.card {
  width: 47%;
  min-width: 115px;
  display: flex;
  flex-direction: column;
  margin: 7px 0;
  gap: 15px;
  position: relative;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 0.8rem;
}
.card-title span {
  color: #787a80;
  font-weight: bold;
}

.card-image {
  width: 100%;
}

.card-list .card:hover .card-image {
  opacity: 0.6;
  cursor: pointer;
}
.card-list .card .card-image:hover + .hide {
  display: inline;
}
.card .fa-circle-play:hover {
  cursor: pointer;
  display: inline;
}

.card .fa-circle-play {
  font-size: min(3.5rem, calc(var(--ref-size) * 3));
}
#recently-played .fa-circle-play {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#for-you-section .fa-circle-play {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Popular-artists .fa-circle-play {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-row-section > span {
  color: #787a80;
  font-size: 0.7rem;
  font-weight: bold;
}

/* PLAYER */
.player {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.player * {
  /* outline: black 1px dashed; */
  color: white;
}

.now-playing {
  display: flex;
  gap: 5px;
  max-width: 30%;
  justify-content: center;
  flex-grow: 1;
}

.now-playing img {
  width: 40%;
  width: 60px;
  object-fit: contain;
}

.now-playing-info {
  font-size: 0.7rem;
  align-self: center;
}

.now-playing-info span {
  opacity: 0.6;
}

.now-playing-refs {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-self: center;
  margin-left: 15px;
  gap: 5px;
}

.now-playing img {
  padding: 5px;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 3;
  max-width: 600px;
}

.general-controls {
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  align-self: center;
  gap: 20px;
}

.general-controls * {
  cursor: pointer;
  font-size: 1.3rem;
}
.general-controls :nth-child(3) {
  font-size: 2rem;
  margin: -6px 10px 0;
}
.general-controls :nth-child(3):hover {
  font-size: 2.5rem;
  margin: -11px 10px 0;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.progress-bar-container > .progress-bar {
  height: 4px;
  background-color: grey;
  border-radius: 2px;
  flex-grow: 1;
  max-width: 500px;
}

.progress-bar-container > .progress-bar > .progress {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  position: relative;
}

.progress-bar-container:hover > .progress-bar > .progress {
  background-color: greenyellow;
}

.progress-bar-container > .progress-bar > .progress::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  top: -5px;
  right: -6px;
}

.progress-bar-container > span {
  font-weight: bold;
  font-size: 0.8rem;
}

.player-refs {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.player-refs * {
  cursor: pointer;
}

.player-volume {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 80px;
  max-width: 250px;
  width: 100%;
}
.player-volume > .volume-bar {
  height: 4px;
  background-color: grey;
  border-radius: 2px;
  flex-grow: 1;
}
.player-volume:hover > .volume-bar > .current-volume {
  background-color: greenyellow;
}

.player-volume > .volume-bar > .current-volume {
  width: 45%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  position: relative;
}
.player-volume > .volume-bar > .current-volume::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  top: -5px;
  right: -6px;
}

/* MEDIA */
@media screen and (min-width: 576px) {
  :root {
    --ref-size: 1.6rem;
  }
  .green-underline-left {
    padding: 0 1rem;
  }
  .lower-navbar .badge {
    padding: 6px;
  }
  .small-col {
    width: 240px;
  }
  .big-col {
    width: calc(100% - 200px);
  }
  .d-block-large {
    display: block;
  }
  .d-none-large {
    display: none;
  }
  .d-inline-large {
    display: inline;
  }
  .upper-navbar > * {
    margin: 0 auto;
  }
  .lower-navbar .user {
    margin: 0 6px;
  }
  .lower-navbar > * {
    padding: 20px;
    margin: 0 auto;
  }
  .navbar-refs .ref {
    margin: 0 10px;
  }
  .navbar-refs .ref:hover {
    padding: 0 1rem;
  }
  .upper-navbar > :nth-child(2) {
    padding: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(100% / 4 - 20px);
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: calc(100% / 6 - 20px);
  }
}
