* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
:root {
  --ref-size: 1.6rem;
}

/* UTILS */
.d-block-large {
  display: none;
}
.d-none-large {
  display: block;
}
.d-inline-large {
  display: none;
}
.ref {
  opacity: 0.6;
}
.ref:hover {
  opacity: 1;
}
.small-ref-text {
  font-size: calc(var(--ref-size) / 1.5);
}
.main-section {
  display: flex;
}
.badge {
  border-radius: 50%;
  padding: 5px;
  border: currentColor 1px solid;
}
/* COLS */
.small-col {
  background-color: black;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: calc(100vh - 100px);
}
/* NAVBAR */
.small-col hr {
  opacity: 0.6;
}
.upper-navbar {
  padding: 10px 0;
}
.upper-navbar > * {
  padding: 5px 12px;
}
.upper-navbar > :first-child {
  padding: 10px 10px 20px;
}
.lower-navbar > * {
  padding: 12px;
}
.upper-navbar .logo-large {
  width: 150px;
  margin: 0 15px;
}
.upper-navbar .logo-small {
  width: 100%;
}
.upper-navbar .playlist-ref {
  margin: 0 10px;
}

.navbar-refs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navbar-refs .ref {
  margin: 0 auto;
  font-size: var(--ref-size);
}
.lower-navbar .user {
  margin: 0 auto;
}
.playlist-ref > * {
  margin: 20px 0;
}
.playlist-ref-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.playlist-ref-list li {
  list-style-type: none;
  font-size: calc(var(--ref-size) / 1.8);
}
.add-playlist {
  font-size: calc(var(--ref-size) / 1.4);
}
.add-playlist a {
  background-color: white;
  padding: 3px 10px;
  color: black;
  font-weight: bold;
  font-size: var(--ref-size);
}

.playlist-ref > h3 {
  font-weight: 600;
}
.big-col {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}
/* TOP ROW */
.top-row {
  background-color: #0c0f14;
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
}
/* MAIN ROW */
.main-row {
  background-color: #141922;
  height: calc(100vh - 80px);
}

/* Player */
.player {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* MEDIA */
@media screen and (min-width: 576px) {
  .small-col {
    width: 240px;
  }
  .big-col {
    width: calc(100% - 200px);
  }
  .d-block-large {
    display: block;
  }
  .d-none-large {
    display: none;
  }
  .d-inline-large {
    display: inline;
  }
  .upper-navbar > * {
    margin: 0 auto;
  }
  .lower-navbar .user {
    margin: 0 6px;
  }
  .lower-navbar > * {
    padding: 20px;
    margin: 0 auto;
  }
  .navbar-refs .ref {
    margin: 0 10px;
  }
  .upper-navbar > :nth-child(2) {
    padding: 20px 0;
  }
}
