screens/layouts/spotify-xs.png
screens/layouts/spotify-s.png
screens/layouts/spotify-md.png
screens/video/spotify-responsive.mp4
screens/video/spotify-hover.mp4
screens/layouts/spotify-lg.png
screens/layouts/spotify-height-350.png
